<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="login.css" type="text/css">
    <title>Вход в учётную запись</title>
</head>
<body class="login">
<h1>Регистрация</h1>
<div>
    <form method="post" action="">
        <p><input type="text" name="username" value="" placeholder="Имя пользователя"></p>
        <p><input type="text" name="email" value="" placeholder="Электронный адрес"></p>
        <p><input type="password" name="password" value="" placeholder="Пароль"></p><br>
        <a href="welcome/welcome.html">
            <p class="submit">
                <button type="button" class="commit">Зарегистрироваться</button>
            </p>
        </a>
    </form>
</div>
</body>
</html>