{% extends 'index.html' %}

{% block body %}
    <br>
    <table id="inventory_table" class="table table-striped" style="width:100%">
        <thead>
        <tr style="text-align: center">
            <th>Категория</th>
            <th>Артикул</th>
            <th>Товар</th>
            <th>Штрих-код</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in storproducts.products %}
            <tr>
                <td>{{ item.product_type }}</td>
                <td>{{ item.vendor_code }}</td>
                <td class="cntr">{{ item.name }}</td>
                <td>{{ item.bar_code }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.price }}<span>&#8372</span></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4">Общая Сумма</th>
            <th colspan="2" style="text-align: right; font-size: large">{{ storage_price }}&#8372</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
