{% extends 'index.html' %}

{% include 'ics/edit-delete/message.html' %}
{% block body %}
    <br>
    <table id="inventory_table" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Категория</th>
            <th>Артикул</th>
            <th>Товар</th>
            <th>Штрих-код</th>
            <th>Доступно(ед.)</th>
            <th>Забронировано(ед.)</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in storproducts.products %}
            <tr>
                <td>{{ item.product_type }}</td>
                <td>{{ item.vendor_code }}</td>
                <td class="cntr">{{ item.name }}</td>
                <td>{{ item.bar_code }}</td>
                <td>{{ item.amount_available }} </td>
                <td>{% if item.amount_booked %}<b>{{ item.amount_booked }}</b>{% else %} Нет {% endif %}</td>
                <td class="cntr">{{ item.price }}<span>&#8372</span></td>
                <td>
                    {% if not perms.ics.change_product %}
                        <a href="{% url 'book' storproducts.slug item.product_type item.pk %}"
                           class="btn btn-primary btn-sm"
                           role="button" aria-pressed="true">Забронировать!</a>
                    {% endif %}
                    {% if perms.ics.change_product %}
                        <a href="{% url 'edit' item.pk item.product_type storproducts.slug %}"
                           class="btn btn-warning btn-sm"
                           role="button" aria-pressed="true">Изменить</a>
                    {% endif %}
                    {% if perms.ics.delete_product %}
                        <a href="{% url 'delete' storproducts.slug item.product_type item.pk %}"
                           class="btn btn-danger btn-sm" aria-pressed="true">Удалить</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {% if storproducts.isAllStorage %}
            <tr class="bg-info" style="font-weight:bold">
                <th colspan="4">Общая Сумма По Складу</th>
                <th colspan="4" style="text-align: right; font-size: large; padding-right: 35px">{{ storage_price }}
                    <span>&#8372 </span>
                </th>
            </tr>
        {% else %}
            <tr class="bg-info" style="font-weight:bold">
                <th colspan="4">Сумма</th>
                <th colspan="4" style="text-align: right; font-size: large; padding-right: 20px">{{ total }} <span>&#8372 </span>
                </th>
            </tr>
        {% endif %}
        </tfoot>
    </table>
    {% if not perms.ics.change_product %}
        <a href="{% url 'report'%}">
            <i class="fa fa-file-excel-o"
               style="position: absolute; bottom: 20px; right: 50px; font-size:48px; color: #1e7e34"></i>
        </a>
    {% endif %}
{% endblock %}
